
<html>

    <head>
     <!-- CSS CUSTOM -->
    
    </head>
    
    <body>
    <h1>
        my name is rudra pratap singh
        <br>{{name}} is from {{location}}
        <br>
        <form action="/result" method="GET">
            <textarea name="text"></textarea>
            <br>
           remove punctuations  <input type="checkbox" name="checkbox"><br>
           capitalize  <input type="checkbox" name="capitalize"><br>
           remove new line  <input type="checkbox" name="removenewline"><br>
           <br>char count <input type="checkbox" name="charcount"><br>
            <br><button type="submit">analysize text</button>
        </form>
    </h1>
    </body></html>